<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Dong - A</title>
  </head>
  <body>
    <h1>Witamy na stronie!</h1>
    <p>Naszą specjalnością jest kuchnia chińska i wietnamska.
      Zachęcamy do skosztowania potraw rodem z Azji. Polecamy pyszne, zdrowe dania obiadowe, zupy oraz bogaty wybór przekąsek. 
      Gwarantujemy wysoką jakość i wyszukany smak.</p>
    <p><strong>Restauracja czynna: </strong></p>
    <p>codziennie od godz. 10:00 do 21:00<br />
      niedziela: od 11:00 do 21:00</p>

  </body>
</html>