= provide :title, "O Dong-A"
%h1 Witamy na stronie!
%p 
  Naszą specjalnością jest kuchnia chińska i wietnamska.
  Zachęcamy do skosztowania potraw rodem z Azji. Polecamy pyszne, zdrowe dania obiadowe, zupy oraz bogaty wybór przekąsek. 
  Gwarantujemy wysoką jakość i wyszukany smak.
%h2 Restauracja czynna:
%p
  codziennie od godz. 10:00 do 21:00
  niedziela: od 11:00 do 21:00